@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[1650px] w-full mx-auto px-2;
}

body {
  font-family: "Roboto", sans-serif;
}

.shadow-featured {
  -webkit-box-shadow: 0px 0px 28px 12px rgba(200, 240, 226, 1);
  -moz-box-shadow: 0px 0px 28px 12px rgba(200, 240, 226, 1);
  box-shadow: 0px 0px 28px 12px rgba(200, 240, 226, 1);
}

.shadow-carts {
  -webkit-box-shadow: 0px 0px 43px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 43px -15px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 43px -15px rgba(0, 0, 0, 1);
}
